body {
    background-color: rgb(122, 122, 122);
}
.texto {
    resize: none;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    font-size: large;
    font-family: sans-serif;
}
.nome {
    resize: none;
    width: 10%;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    font-size: large;
    font-family: sans-serif;
}
.botao {
    border-radius: 25%;
    width: 75px;
    height: 75px;
    font-size: large;
    font-family: sans-serif;
}
.imagem {
    position: absolute;
    border-radius: 25%;
    width: 75px;
    height: 75px;
    font-size: medium;
    font-family: sans-serif;
}