.div {
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 70vh;
    overflow: auto;
}

.error {
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: red;
}

.mensagem {
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
}

img {
   width: 300px;
   height: 300px;
}